body {

    font-family: "Segoe UI", Arial, sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


    .header {
        text-align: center;
    }
    .table-head {
        text-align: center;
        font-weight: 200;
        font-size: 40px;
        margin: 0px;
    }

    .h1 {
        font-weight: 400;
        font-size: 48px;
        margin: 0px;
    }

    .h2 {
        font-weight: 400;
        font-size: 24px;
        margin: 10px;
    }
    .h2-w {
        font-weight: 400;
        font-size: 24px;
        margin: 10px;
        color: white;
    }

    .h3 {
        font-weight: 600;
        font-size: 36px;
        margin: 10px;
    }

    .header-txt {
        color: gray;
        font-size: 20px;
    }

    .light-txt {
        font-weight: 100;
        color: gray;
    }

    li {
        list-style-type: none;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    .offers {
        display: flex;
        flex-direction: column;
        margin: 0px;
        gap: 30px;
    }

    .offer-p {

        padding: 0px 16px;
    }

    .offer1 {
        display: flex;
        border: 0.5px solid gainsboro;
        border-radius: 5px;
        flex-direction: column;

    }

    .offer2 {
        display: flex;
        border: 0.5px solid gainsboro;
        border-radius: 5px;
        flex-direction: column;

    }

    .offer3 {
        display: flex;
        border: 0.5px solid gainsboro;
        border-radius: 5px;
        flex-direction: column;

    }

    .offer1-item {

        text-align: center;
        border: 0.5px solid gainsboro;
        background-color: #f8f8f8;
        margin: 0px;


    }
    .offer1-item-blue {

        text-align: center;
        border: 0.5px solid gainsboro;
        background-color: #0d6efd;
        margin: 0px;


    }

    .offer1-item1 {

        text-align: center;
        border: 0.5px solid gainsboro;
        padding: 16px;

    }

    .offer1-item2 {
        text-align: center;
        font-size: 20px;
        color: #0d6efd;
        border: 1px solid;
        border-radius: 5px;
        width: 200px;
        padding: 8px 16px;
        margin: 8px 16px;
    }

    .offer1-item3 {
        text-align: center;
        font-size: 20px;
        color: white;
        background-color: #0d6efd;
        border: 1px solid;
        border-radius: 5px;
        width: 200px;
        padding: 8px 16px;
        margin: 8px 16px;
    }
 
    .table {
        display: flex;
        justify-content: left;
        margin: 30px auto;
        text-align: center;
        padding: 30px;
        border-collapse: collapse;
    }
    .tr-border-bottom {
        border-bottom: 1px solid gainsboro;
    }
 

